@require "bower_components/bootstrap-stylus/stylus/variables"

body
	position relative

#wrapper
	max-width $screen-lg

#menu
	position fixed
	left 0
	right 0
	z-index 1
	background-color #fff
	padding 15px

#content
	position relative

@media screen and (max-width $screen-sm - 1)
	#content
		padding-top 100px

.song
	position relative
	height 1.5em

	.bg-progressbar, .foreground-info
		position absolute
		left 0
		top 0
		bottom 0

	.bg-progressbar
		overflow hidden

		.size
			float right
			font-weight bold
			color white
			padding-right 10px

			// .progress is already taken
			.size-progress:after
				content " / "

	.foreground-info
		.index:after
			content ". "

.song.full-progressbar
	.bg-progressbar
		width 100% !important

		.size
			display none
