@require "bower_components/bootstrap-stylus/stylus/variables"

body
	position relative

#wrapper
	max-width $screen-lg

#menu
	position fixed
	left 0
	right 0
	z-index 1
	background-color white
	padding 15px

@media screen and (max-width $screen-sm - 1)
	#menu
		position static

#content
	position relative

.song-list
	position relative
	overflow hidden
	width 100%

.song
	overflow hidden
	height 1.5em

	.bg-progressbar
		position absolute
		height 1.5em
		z-index -1

	.actions
		width 150px
		.size
			display none
			.size-progress:after
				content " / "

	&.full-progressbar
		.bg-progressbar
			width 100% !important

	&.syncing
		.size
			display initial
