include song-mixin

#wrapper.container-fluid(ng-controller="HomeCtrl")
	.row
		#menu.col-sm-3
			ul.nav.nav-pills.nav-stacked
				li
					a(scroll-to="#content") content
				li
					a(scroll-to="#remote") unsynced remote ({{ getCount("remoteOnly") }})
				li
					a(scroll-to="#local") unsynced local ({{ getCount("localOnly") }})
				li
					a(scroll-to="#synced") synced ({{ getCount("synced") }})
		#content.col-sm-9.col-sm-offset-3
			button(ng-click="syncDown()") Sync down
			button(ng-click="syncUp()") Sync up
			button(ng-click="startAutoSync()", ng-hide="autoSyncEnabled") Start auto sync
			button(ng-click="stopAutoSync()", ng-show="autoSyncEnabled") Stop auto sync
			button(ng-click="sync()") Sync

			input(ng-model="localPath")

			h1#remote unsynced remote ({{ getCount("remoteOnly") }})
			table.song-list
				+song("item in list | filter: isOfType('remoteOnly')")

			h1#local unsynced local ({{ getCount("localOnly") }})
			table.song-list
				+song("item in list | filter: isOfType('localOnly')")

			h1#synced synced ({{ getCount("synced") }})
			table.song-list
				+song("item in list | filter: isOfType('synced')")
