.container-fluid(ng-controller="HomeCtrl")
	h1 remote: {{ _.size( remoteList ) }}, local: {{ _.size( localList ) }}, sync: {{ _.size( syncList ) }}
	button(ng-click="syncDown()") Sync down
	button(ng-click="syncUp()") Sync up
	button(ng-click="startAutoSync()", ng-hide="autoSyncEnabled") Auto sync
	button(ng-click="stopAutoSync()", ng-show="autoSyncEnabled") Stop auto sync

	input(ng-model="localPath")

	.song(
		ng-repeat="audio in remoteList"
		ng-class="{\
			'downloaded': audio.downloaded,\
			'downloading': audio.downloading\
		}"
		ng-click="download(audio)"
	)
		.bg-progressbar(style="width: {{ audio.percentage || 0 }}%")
			.size
				span.size-progress {{ audio.progress | bytes }}
				span.total {{ audio.size | bytes }}
		.foreground-info
			span.title {{ audio.artist }} &mdash; {{ audio.title }}
