.container-fluid(ng-controller="HomeCtrl")
	h1 {{ _.size( localList ) }}/{{ _.size( remoteList ) }}
	button(ng-click="syncDown()") Sync down

	input(ng-model="localPath")

	.song(
		ng-repeat="audio in rawRemoteList"
		ng-class="{\
			'downloaded': audio.downloaded,\
			'downloading': audio.downloading\
		}"
		ng-click="download(audio)"
	)
		.bg-progressbar(style="width: {{ audio.percentage || 0 }}%")
			.size
				span.size-progress {{ audio.progress | bytes }}
				span.total {{ audio.size | bytes }}
		.foreground-info
			//- span.index {{ $index + 1 }}
			span.title {{ audio.artist }} &mdash; {{ audio.title }}
