include song-mixin

.container-fluid(ng-controller="HomeCtrl")

	button(ng-click="syncDown()") Sync down
	button(ng-click="syncUp()") Sync up
	button(ng-click="startAutoSync()", ng-hide="autoSyncEnabled") Start auto sync
	button(ng-click="stopAutoSync()", ng-show="autoSyncEnabled") Stop auto sync

	input(ng-model="localPath")

	h1 unsynced remote - {{ getCount("remoteOnly") }}
	+song("download(item)", "item in list | filter: isOfType('remoteOnly')")

	h1 unsynced local - {{ getCount("localOnly") }}
	+song("upload(item)", "item in list | filter: isOfType('localOnly')")

	h1 synced - {{ getCount("synced") }}
	+song("", "item in list | filter: isOfType('synced')", true)
