mixin song(ngRepeat)
	tr.song(
			ng-repeat=ngRepeat
			ng-class="{\
				'syncing': item.isSyncing,\
				'full-progressbar': item.isSynced || item.shouldRemove\
			}"
		)
			td.title
				.bg-progressbar(
					ng-class="{\
						'bg-danger': item.shouldRemove,\
						'bg-success': !item.shouldRemove\
					}"
					style="width: {{ item.percentage || 0 }}%"
				)
				{{ item.artist }} &mdash; {{ item.title }}
			td.actions
				.size.pull-right
					span.size-progress {{ item.progress | bytes }}
					span.total {{ item.size | bytes }}
